<div class="content" role="main">
  <div class="text-center">
    <h2>Bewerte die Abenteurer*in</h2>
    <h1>{{verification.challenge_title}}</h1>
    <img src="{{verification.submission_picture}}" class="img-responsive" />

    <p>{{verification.challenge_description}}</p>
  </div>
  <button mat-fab aria-label="Richtig" color="primary" class="floating-action-button left"><mat-icon>done</mat-icon></button>
  <button mat-fab aria-label="Falsch" color="warn" class="floating-action-button right"><mat-icon>cancel</mat-icon></button>
</div>
