/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
  margin: 1em;
  height: 100%;
}

.floating-action-button {
  position: fixed !important;
  right: 1em;
  bottom: 1em;
}

.text-center {
  text-align: center;
}
