.scorebar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid #6f6c5f;
}

.score:not(:last-child) {
  border-right: 1px solid #6f6c5f;
}

.dp,
.done,
.ranking {
  font-size: 30pt;
}

.text-right {
  text-align: right;
}
